html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    top: 1.8rem;
    text-align: center;
    background-color: #10a495;
    padding:10px 10px;
    margin: auto;
    border-radius: 50%;
    
    color: #fff;
}
header{
    
    position: fixed;
    
    height: 100vh ;
    width: 100px;
    background-color: hsl(342, 19%, 5%);
    border-right:1px solid hsl(342, 19%, 5%) ;
}
nav{
    transform: rotate(-90deg) translateX(-100%);
     transform-origin: left top;
     width: 100vh;
     display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
    position: fixed;
    margin-top: 13vh;
}
nav a{
    margin:0 10px;
        height: 100%;
        text-transform: uppercase;
    line-height: 100px;
    padding: 0 1rem;
    position: relative;
    color: #3fc1b4;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
nav a:hover{
    color: #fff;
    transition: .7s ease;
}
#home{
    height: 100vh;
    background-color:hsl(342, 19%, 5%);
}
#home h3{
    padding-left: 160px;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 40px;
}
.socialicon{
    position: absolute;
    top:40px;
    left: 38vh;
}
#home .socialicon a :hover{
    
    color: #2AB6A8;
}
.bodytext{
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    left: 22vh;
    top: 30vh;
}
.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #10a495;
    color: #fff;
    padding: .75rem 1.4rem;
    border-radius: .28rem;
    margin-top: 40px;
    font-weight: 600px;
    position: relative;
    z-index: 1;
}
.button::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    background-color: hsl(333, 15%, 12%);
    z-index: -1;
    transform: scale(0);
    border-radius: .2rem;
    transition: .8s;
}
.button:hover::after{
    transform: scale(1);
}



.btmicons{
    position: relative;
    margin-left: 14vh;
    display: flex;
    top: 70vh;
}

.item{
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 0.5px solid hsl(342, 14%, 10%);
    background-color: hsl(342, 14%, 10%);
    height: 18vh;
    width: 40vh;
    margin-left: 45vh;
    padding-top: 7px;
    
    
}
.item h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-weight: 700px;
     margin-top: 5px;font-size: 15px;
}
.item p a{
    text-decoration: none;
    color: #DDD;
    font-size: 15px;
}
#contact{
    
    background-color: hsl(342, 19%, 5%);
    padding-top: 20px;
    padding-bottom: 10vh;
    color: #fff;
}
.item:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 10px hsl(343, 6%, 23%);
    transition: 0.5s ease;
}
.cntctnotch{
    text-align: center;
    padding-top: 42px;
}
.cntctcontent{
    display: flex;
}
.cntctform{
    margin-left: 8vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sendmsg{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: #2AB6A8;
    color: #fff;
    padding: 9px 15px 10px 9px;
    border-radius: .28rem;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    z-index: 1;
}
.sendmsg::after{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;
    background-color: hsl(333, 15%, 12%);
    z-index: -1;
    transform: scale(0);
    border-radius: .2rem;
    
    transition: .8s;
}
.sendmsg:hover::after{
    transform: scale(1);
}


.img{
    margin-left: 247px; 
    position:relative;
    padding:  40px 140px 40px 140px;
    background-color: hsl(342, 14%, 10%);
    display: inline-block;
}
#about{
    background-color:  hsl(342, 19%, 5%);
    padding-top: 70px;
    padding-bottom: 80px;
}
.abtcontent{
    display: flex;
}
.footer{
    padding-right: 50vh;
}
#services{
    background-color: hsl(342, 19%, 5%);
    padding-top: 70px;
    padding-bottom: 100px;
}
.webdesign{
    margin-left: 8vh;
    border: 2px solid hsl(342, 14%, 10%);
    background-color: hsl(342, 14%, 10%);
    padding: 110px 75px 33px 33px;;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.serviceicons .webdesign a p:hover{
    color: #fff;
}
#skills{
    background-color: hsl(342, 19%, 5%);
}
.skillsimages{
    margin-left: 50vh;
    margin-top: 7vh;
}
.skillimg{
    margin: 20px 20px;
    background-color: hsl(342, 14%, 10%);
    padding: 40px 40px;
}
.skillimg:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow: 2px 2px 10px hsl(342, 14%, 10%);}



    /* Responsive */
    @media (max-width:858px){
        .logo{
            text-align: center;
            font-size: 40px;display: block;
            width: max-content;
            height: 100px;
            margin-left: 5vh;
            background-color: #10a495;
            color: #fff;
        }
        nav a{
            color: #2AB6A8;
            font-size: 30px;
            margin-top: 25vh;
            margin-left: -70px;
            padding-top: 2px;
            transform: rotate(90deg);
        }
        nav{
            margin-top: 52vh;
            margin-left: 40px;
        }
        .bodytext h2{
            
            margin-left: -10px;
        }
        .bodytext p{
            display: none;
        }
        .bodytext a{
            display: none;
        }
        #home{
        width:74vh;
        }
        .socialicon{
            display: flex;
            flex-direction: row;
            margin-left: -99px;
        }
        .socialicon a i{
            margin-right:  30px;
            font-size: 40px;
        }
        #home #followmetext{
            display: none;

        }
        .bodytext #frntdev{
            font-size:42px;
            
            margin-left: -60px;
            margin-right: -90px;
        }
        .btmicons{
            display: none;
        }
        #greeting{
            display: inline;
            margin-top: -940px;
        }
        #about{
            width: 74vh;
            }
            #about .abtcontent .img{
                height: 160px;
                
                width: 60px;
            }
    }